:root {
    --autocomplete-bg-dark: #2b2b2b;
    --autocomplete-bg-light: #ffffff;
    --autocomplete-color-dark: #ffffff;
    --autocomplete-color-light: #000000;
    --autocomplete-hover-dark: #383838;
    --autocomplete-hover-light: #ccecfe;
    --span-hover-bg-dark-itemn: rgba(246, 183, 60, 0.2);
    --span-hover-color-dark-itemn: #fecd57;
    --span-hover-bg-light-itemn: rgba(246, 183, 60, 0.1);
    --span-hover-color-light-itemn: #d38f0a;
    --span-hover-bg-hc-dark-itemn: rgba(255, 255, 255, 0.2);
    --span-hover-color-hc-dark-itemn: #ffffff;
    --span-hover-bg-hc-light-itemn: rgba(0, 0, 0, 0.1);
    --span-hover-color-hc-light-itemn: #000000;
}

.nav-hoverable-itemn .navigation-tree-node-info-primary span {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.nav-hoverable-itemn .navigation-tree-node-info-primary span:hover {
    background-color: var(--span-hover-bg-itemn);
    color: var(--span-hover-color-itemn);
    text-decoration: underline;
}

.itemnav-selected {
    background: linear-gradient(to right, #f6b73c, #fecd57);
    color: #000;
    border-radius: 6px;
    padding: 4px 8px;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.12);
}

.itemnav-selected .navigation-tree-node-info-primary span {
    color: #000;
}

.itemnav-selected .navigation-tree-node-info-primary span:hover {
    color: #000;
}

.autocomplete-container-itemn {
    display: inline-block;
    width: 100%;
    position: sticky;
    box-sizing: border-box;
    top: 0;
    z-index: 10;
    background: var(--autocomplete-bg);
    padding: 6px 0;
}

.autocomplete-input-itemn {
    width: calc(100% - 40px);
    font-size: 12px;
    padding-right: 10px;
}

.modified-chevron {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.modified-chevron.open {
    transform: translateY(-50%) rotate(180deg);
}

.autocomplete-dropdown-itemn {
    border: 1px solid #ccc;
    border-radius: 4px;
    position: fixed;
    z-index: 99;
    background-color: var(--autocomplete-bg);
    color: var(--autocomplete-color);
    max-height: 225px;
    overflow-y: auto;
    font-size: 12px;
    width: calc(100% - 40px);
    display: none;
}

.autocomplete-item-itemn {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item-itemn:hover {
    background-color: var(--autocomplete-hover);
}

.autocomplete-item-itemn.focused {
    background-color: var(--autocomplete-hover);
}

[theme="dark-theme"] {
    --autocomplete-bg: var(--autocomplete-bg-dark);
    --autocomplete-color: var(--autocomplete-color-dark);
    --autocomplete-hover: var(--autocomplete-hover-dark);
    --span-hover-bg-itemn: var(--span-hover-bg-dark-itemn);
    --span-hover-color-itemn: var(--span-hover-color-dark-itemn);
}

[theme="hc-dark"] {
    --autocomplete-bg: var(--autocomplete-bg-dark);
    --autocomplete-color: var(--autocomplete-color-dark);
    --autocomplete-hover: var(--autocomplete-hover-dark);
    --span-hover-bg-itemn: var(--span-hover-bg-hc-dark-itemn);
    --span-hover-color-itemn: var(--span-hover-color-hc-dark-itemn);
}

[theme="blue-theme"] {
    --autocomplete-bg: var(--autocomplete-bg-light);
    --autocomplete-color: var(--autocomplete-color-light);
    --autocomplete-hover: var(--autocomplete-hover-light);
    --span-hover-bg-itemn: var(--span-hover-bg-light-itemn);
    --span-hover-color-itemn: var(--span-hover-color-light-itemn);
}

[theme="hc-light"] {
    --autocomplete-bg: var(--autocomplete-bg-light);
    --autocomplete-color: var(--autocomplete-color-light);
    --autocomplete-hover: var(--autocomplete-hover-light);
    --span-hover-bg-itemn: var(--span-hover-bg-hc-light-itemn);
    --span-hover-color-itemn: var(--span-hover-color-hc-light-itemn);
}
